* {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "EB Garamond", serif;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

nav {
  display: flex;
  overflow: hidden;
  margin: 0;
  width: 100%;
  height: 11vh;
  background-color: #231651;
  align-items: center;
  justify-content: center;
  background-image: none;
}

h2 {
  /* font-style: italic; */
  position: absolute;
  font-weight: 500;
  font-size: 3rem;
  color: white;
}

h4 {
  display: block;
  width: 60vw;
  text-align: center;
  padding: 5rem 0;
  margin: auto;
  margin-top: 1.2rem;
  margin-bottom: 2rem;
  background-color: rgb(209 230 248);
  border-color: rgb(186 218 247);
  font-weight: 500;
  font-size: 7em;
  color: #231651;
  opacity: 0.7;
}

table {
  background-color: #f8f8ff;
  width: 60vw;
  font-size: 1.5em;
}

td,
th {
  border: 2px solid #191970;
  text-align: left;
  padding: 8px;
}

tr:first-child {
  /* background-color: #6695c4; */
  background-color: #ccd9ff;
}
